<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
     <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .resimg{width:100%;display:inline-block}
    </style>
   <title>Dashboard RBM Produkter</title>
</head>
<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron">
	<h1>Velkommen til Dashboard</h1>
	<p>
		<a class="btn btn-lg btn-primary" href="/profile" role="button">Profile view »</a>
	</p>
	</div>


    <footer>
        <p>&copy; Zyberdata - Computer and Development Service 2018 | Admin: Randi Mortensen | <a href="/">Forside</a> | <a href="/dashboard">Dashboard</a></p>
    </footer>
    </body>
</html>